.project-title {
  width: 100%;
  h1 {
    text-align: center;
  }
}
.gray-bg {
  padding-left: 2rem;
  flex-direction: row-reverse;
  background: #FAFAFA;
  @media (max-width: 767px) {
    padding-left: initial;
  }
}
.project {
  padding-top: 2rem;
  display: flex;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}
.img-wrap {
  margin: 0;
  flex: 1;
  img {
    max-width: 100%;
    display: inline-block;
    vertical-align: bottom;
  }
}
.description {
  display: flex;
  flex: 1;
  align-items: center;
  h2 {
    font-weight: lighter;
  }
}
.content-wrap {
  padding: 1rem;
}
.stack {
  img {
    height: 40px;
    padding: 0 5px;
    &:first-child {
      padding-left: 0;
    }
  }
}