.project-section {
  position: relative;
  width: 100%;
}
.project-title {
  width: 100%;
  h1 {
    text-align: center;
  }
}
.gray-bg {
  padding-left: 2rem;
  flex-direction: row-reverse;
  background: #FAFAFA;
  @media (max-width: 767px) {
    padding-left: initial;
  }
}
.project {
  padding-top: 2rem;
  display: flex;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}
.img-wrap {
  margin: 0;
  flex: 1;
  img {
    max-width: 100%;
    display: inline-block;
    vertical-align: bottom;
  }
}
.description {
  display: flex;
  flex: 1;
  align-items: center;
  h2 {
    font-weight: lighter;
  }
}
.content-wrap {
  padding: 1rem;
}
.stack {
  img {
    height: 40px;
    padding: 0 5px;
    &:first-child {
      padding-left: 0;
    }
  }
}
.search-bar {
  position: sticky;
  top: -1px;
  background: #ffffff;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .25);
  padding: .5rem;
  input {
    width: 100%;
    border: none;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    outline: none;
  }
}
.no-result {
  font-size: 2rem;
  text-align: center;
  padding: 3rem;
}